<!DOCTYPE html>
<html>
    <header>
        <center>
            <h1>Welcome to RevAntarctica</h1>
            <img src="penguins.jpeg" alt="penguins">
        </center>
    </header>
    <body>
        <br><br><br>
        <div>
        <center>
            <form action="/" method="POST">
                <input placeholder="Name" name="name">
                <input placeholder="Post Content" name="post">
                <input type="submit" value="Submit">
            </form>

            
        </center>
        </div>
    </body>
</html>